body {
  height: 100%;
  width: 100%;
  background-position: center;
  margin-top: 20px auto;
}
.container {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/022/369/original/29Z_2105.w026.n002.422B.p1.422.jpg?1639024601);
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid;
  width: 50%;
  background-position: 50% 50%;
  padding-bottom: 25px;
  border-radius: 5px;
  margin-top: 10px;
}
.pageSetup {
  max-width: 700px;
  display: block;
}
.card {
  background-color: rgba(25, 190, 10, 0.726);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
  width: 230px;
}

h1 {
  display: block;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  color: white;
}
h2 {
  padding: 10px;
  position: relative;
  left: 75px;
}
.button {
  display: inline;
  background: rgba(241, 226, 86, 0.925);
  color: rgb(78, 78, 78);
  border: none;
  border-radius: 10px;
  font-size: 22px;
  padding: 10px;
  transition: 200 ms ease-in-out;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
}
.button:hover {
  background: rgb(35, 144, 187);
  color: white;
}
.temperature {
  font-family: "Montserrat", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
  font-size: 26px;
  text-align: center;
  color: white;
}
.city {
  line-height: 1;
}
.description {
  font-size: 24px;
  margin: 0;
  padding: 0;
  line-height: 0.3;
}
li {
  list-style: none;
  padding: 5px;
}
.active {
  color: white;
  cursor: default;
  text-decoration: none;
}
.active:hover {
  text-decoration: none;
}
.variables {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
  color: white;
}
.forecast,
.weather-forecast-date,
.weather-forecast-temperatures,
.weather-forecast-temperature-max,
.weather-forecast-temperature-min {
  text-align: center;
  font-size: 20px;
  padding-top: 50px;
  padding-right: -40px;
  color: white;
}
.footer {
  text-align: center;
  display: block;
}
